body {
  position: relative;
}

.about__us {
  font-size: 39px;
  width: 100%;
}

.text1 {
  margin: 0 auto;
  max-width: 500px;
}

.post__one p:last-child {
  font-size: 18px;
}

.post__one img {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}

.price__list {
  margin-top: 100px;
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 100px;
}

.price__list p {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.price__list__ul img {
  margin-left: 150px;
  margin-right: 130px;
}

.price__list__ul {
  margin-top: 150px;
  display: flex;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 10px auto;
}

.about {
  height: 600px;
  background-image: url("public/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.about__us__text {
  background-color: rgba(31, 25, 36, 0.8);
  color: white;
  max-width: 500px;
  padding: 20px 20px;
  border-radius: 10px;
  position: absolute;
  right: 10%;
  top: 10%;
}

.about__us__text p:last-child {
  font-size: 20px;
}

.price__list__item {
  margin: 30px auto 0px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1625px) {
  .about__us__text {
    right: 50%;
    top: 15%;
    transform: translateX(50%);
    min-width: 350px;
    max-width: 500px;
  }
}

@media screen and (max-width: 820px) {
  .about__us__text {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .post__one img {
    width: 350px;
  }

  .text1 {
    width: fit-content;
    transform: scale(0.8);
    margin: 0 auto !important;
  }
}

.header {
  position: fixed;
  top: 0;
}

.our__services p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.service_one p {
  font-size: 14px;
  font-weight: 400;
  height: 200px;
  cursor: pointer;
}

.service_two p {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.service_three p {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.service_four p {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.our__services {
  background-color: #fffcf8;
  width: 100%;
  padding-bottom: 50px;
}

body {
  margin: 0 0 0 0;
}

.header__fixed {
  margin-top: 2px;
}

.description p {
  line-height: 25px;
  width: 450px;
  margin-left: 30px;
  padding-top: 10px;
}

.description img {
  border-radius: 10px;
  height: 400px;
  width: 450px;
}

.about__us {
  margin: 150px auto 0;
}

.about__us h1 {
  margin-bottom: 100px;
  margin-top: -10px;
}

.welcome {
  height: 100vh;
}

.welcome img {
  position: absolute;
  z-index: 2;
  width: 1903px;
}

.welcome p {
  z-index: 3;
  color: #dbdbdb;
  position: absolute;
  font-size: 48px;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000ad;
  padding: 100px 50px;
  border-radius: 10px;
}

.header {
  background-color: rgba(0, 0, 0, 0.712);
}


.header__logo {
  color: #dadada;
}
