body {
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
}

.services__wrapper {
  display: flex;
  margin: 0 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service_card {
  padding: 100px 20px;
  transition: 0.6s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.service_card img {
  width: 150px;
  transition: 0.6s all;
}

.service_card p {
  text-align: center;
  color: #B49385;
  text-decoration: none;
  font-size: 18px;
  transition: 0.6s all;
}

.service_card:hover {
  background-color: #B49385;
  box-shadow: 5px 5px rgba(180, 147, 133, 0.7);
  transition: 0.6s all;
  transform: translateY(-3%);
}

.service_card:hover img {
  filter: invert(1);
  transition: 0.6s all;
}

.service_card:hover p {
  color: #ffffff;
  transition: 0.6s all;
}

.header__fixed {
  margin-top: 2px;
}

.description {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  padding-bottom: 100px;
}

.description p {
  line-height: 25px;
  width: 450px;
  margin-left: 30px;
  padding-top: 10px;
  font-size: 16px;
}

.description img {
  border-radius: 10px;
  height: 400px;
  width: 450px;
}


.about__us h1 {
  margin-bottom: 100px;
  font-size: 34px;
  margin-top: -10px;
}


.welcome img {
  position: absolute;
  z-index: 2;
  width: 1903px;
}

.welcome p {
  z-index: 3;
  color: #dbdbdb;
  position: absolute;
  font-size: 48px;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000ad;
  padding: 100px 50px;
  border-radius: 10px;
}

.header {
  background-color: rgba(0, 0, 0, 0.712);
}

.header__links {
  color: white;
}

.header__logo {
  color: #dadada;
}
