body {
  overflow-x: hidden;
}

.header {
  background-color: #000000d5;
}

.header__menu a {
  color: white;
}

.header__logo {
  color: #dadada;
}

.servicesAndPrices__text {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  color: #dadada;
  background-color: #0000009f;
  padding: 30px;
  max-width: 800px;
  width: 100%;
}

.servicesAndPrices__text p:first-child {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.servicesAndPrices__text p:last-child {
  font-size: 18px;
}

.depilDiv__text {
  position: absolute;
  top: 1400px;
  left: 100px;
  width: 300px;
  background-color: #0000009f;
  color: #dadada;
  padding: 30px;
}

.depilDiv__priceList div {
  display: flex;
  margin-top: -15px;
}

.depilDiv__priceList {
  font-size: 18px;
  position: absolute;
  color: #dadada;
  top: 1400px;
  left: 500px;
  background-color: #0000009f;
  padding: 30px;
}

.cosmetDiv__text {
  position: absolute;
  top: 2300px;
  right: 100px;
  width: 300px;
  background-color: #0000009f;
  color: #dadada;
  padding: 30px;
}

.cosmetDiv__priceList div {
  display: flex;
  margin-top: -35px;
}

.cosmetDiv__priceList {
  font-size: 18px;
  position: absolute;
  color: #dadada;
  top: 2650px;
  right: 120px;
  background-color: #0000009f;
  padding: 30px;
}

.depilDiv__priceList__priceText {
  color: #ceaf00;
  margin-bottom: 30px;
}

.broviDiv__text {
  position: absolute;
  top: 3350px;
  left: 30%;
  width: 300px;
  background-color: #0000009f;
  color: #dadada;
  padding: 30px;
}

.broviDiv__priceList div {
  display: flex;
  margin-top: -25px;
}

.broviDiv__priceList {
  font-size: 18px;
  position: absolute;
  color: #dadada;
  top: 3550px;
  right: 10%;
  background-color: #0000009f;
  padding: 30px;
}

.manikDiv__text {
  position: absolute;
  top: 4350px;
  left: 50px;
  width: 300px;
  background-color: #0000009f;
  color: #dadada;
  padding: 30px;
}

.manikDiv__priceList div {
  display: flex;
  margin-top: -15px;
}

.manikDiv__priceList {
  font-size: 18px;
  position: absolute;
  color: #dadada;
  top: 4650px;
  left: 420px;
  background-color: #0000009f;
  padding: 30px;
}

@media all and (max-width: 1832px) {
  .broviDiv__text {
    left: 5%;
    top: 3300px;
  }

  .broviDiv__priceList {
    right: 5%;
  }
}

@media all and (max-width: 900px) {
  .depilDiv__text {
    top: 1090px;
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
  }

  .depilDiv__priceList {
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
  }

  .cosmetDiv__priceList {
    right: 50%;
    transform: translateX(50%);
    min-width: 400px;
  }

  .broviDiv__priceList {
    right: -2%;
    transform: translateX(50%);
    width: 500px;
    transform: scale(0.8);
  }
}

@media all and (max-width: 1007px) {
  .manikDiv__text {
    width: 80%;
    top: 4310px;
    left: 50%;
    transform: translateX(-50%);
  }

  .manikDiv__priceList {
    width: 550px;
    left: 50%;
    transform: translateX(-50%) translateY(19%) scale(0.7);
  }
}
